<html>
  <head>
    <title>GOSSIPS PAGE</title>
  </head>
  <body>
    <h1><%= "Voici la page du potin n°#{id}" %></h1>
    <p>
      <%= "Son auteur : #{gossip.author}" %>
      <%= "Le contenu du potin : #{gossip.description}" %>
    </p>

      <a href= '/'>RETURN</a>
  </body>
</html>
