<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, du dossier views !</h1>
    Do you want to share a gossip? ---> <a href="/gossips/new/">GOSSIP</a>
    <% gossips.each do |gossip| %>
        <p>
          <%= gossip.author %><br/>
          <%= gossip.description %>
        </p>
      <% end %>
  </body>
</html>
